---
layout: base
permalink: /index.html
title: 'Eleventy Excellent'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">This is vericard</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">Simple private digital age verification</h2>
      <p>Vericard is a physical age verification card that can be purchased from major retailers and can then be used to enable what we believe to be the most private form of digital age verification.</p>
      <p><em>Why?</em> Because initial age verification is done in person and is NEVER recorded into a digital database. We use the same tried-and-true systems of age verification that have been used to sell age restricted products and services for decades; such as when you purchase: alcohol, cigarettes, spray cans and mobile phone SIM cards or when you access 
      services and venues like nightclubs, bars, adult shops and music festivals. </p>
      <p>We&#39;re all used to showing our ID, and most of the time your ID is not recorded or stored beyond the brief moment of in-person face-to-face checking done by the store clerk at the moment of verification. We&#39;re leveraging this same &#39;boring technology&#39; to achieve existing industry standard privacy not currently on offer by most new digital verification offerings.</p>
      <p>We actively supply through retailers and locations that already provide age restricted products, drawing on the existing retail systems and experience for both customers and staff at these retail locations.</p>
      <h3 id="how-does-it-work-">How does it work?</h3>
      <ol>
      <li>Vericards are a few dollars and are available for purchase from popular retailers across Australia. You will need to show your government approved proof of age photo ID (eg driverse licence, passport, proof of age card) to the store clerk at time of purchase to obtain a vericard. You can usually pay cash if you'd prefer.</li>
      <li>Once you have a vericard it is not linked to you or your data in any way. There is a limit of one purchase per customers. These systems have been shown to be effective for other age restricted products such as cigarettes, SIM cards, adult toys and magazines and alcohol.</li>
      <li>Download the vericard app. To make an account you will never be asked for personal information, you are only required to provide the unlock code from your vericard. With this app you&#39;ll now be able to unlock multiple social media services.</li>
      <li>When you attempt to access a social media service, you will be given multiple options for age verification. Most of the options provided require you to upload personal information to an online provider. You can not be certain that this ID data you upload wont be saved, hacked or worse sold on to others. With vericard your personal data is just seen, usually very breifly by the store clerk (A real live person!), your ID never enters the digital world. Select vericard and follow the prompts. Thats it!</li>
      </ol>
      <h3 id="faq">FAQ</h3>
      <h4 id="is-it-possible-to-purchase-vericards-online-">Is it possible to purchase vericards online?</h4>
      <p>No. Official vericards are only able to be purchase in person from approved retailers. The retailer checking your ID is how we avoid needing any personal information for our app.</p>
      <h4 id="can-i-buy-vericards-for-others-">Can I buy vericards for others?</h4>
      <p>This goes against our terms of service and depending on your jurisdiction may even be illegal. Significant fines and penalties may be attached to purchasing vericards on behalf of another person. Providing a vericard to minors is not allowed under our terms of service.</p>
      <h4 id="do-i-need-more-than-one-vericard">Do I need more than one vericard</h4>
      <p>One purchase enables you to unlock the vericard app on one device, usually your smart phone. Most people should not need to purchase more than one vericard.</p>
      <h4 id="can-one-purchased-vericard-be-used-on-multiple-phones-">Can one purchased vericard be used on multiple phones.</h4>
      <p>No. It unlocks one phone.</p>
      <h3 id="are-you-an-in-store-retailer-who-would-like-to-stock-our-products-">Are you an in-store retailer who would like to stock our products?</h3>
      <p>See our dedicated stockist site.</p>
      <h3 id="are-you-a-social-media-site-who-would-like-to-implement-vericard-">Are you a social media site who would like to implement vericard?</h3>
      <p>See our developer site.</p>
    </div>
  </article>

  {# <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section> #}
</div>
